.Highlights {
    padding: 60px 0;
}

@media  all and (max-width: 641px) {
    .Discount {
        flex-direction: column;
        align-items: center;
        
    }

    .Discount_description {
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    .Discount_percentage {
        padding-bottom: 20px;
    }
}