.Footer {
    padding: 40px 0;
    background-color: red;
    columns: white;
    text-align: center;
}

.Footer span {
    color: white;
    display: block;
}

.Footer span:nth-child(1) {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}

