.title {
    font-size: 34px;
    font-weight: 500;
    margin: 0px;
    color: #2c2c2c;
    padding-bottom: 50px;
    border-bottom: 2px solid lightgrey;
    text-align: center;
}



.Description {
    width: 500px;
    margin: auto;
    max-width: 100%;
}

.Description_content {
    padding-top: 20px;
    text-align: center;
}




